<div class="col-12">

  <div class="mt-3">
    <art-updated-time time="{{updatedTime}}" isLoading="{{isLoading}}" (refreshClick)="getFlightsList()" ></art-updated-time>
    

    <span class="float-right">
      <art-date-picker [fromdate]="fromdates" [todate]="todates" (selectedDates)="getSelectedDates($event)"></art-date-picker>
    </span>
  </div>



  <div>   
    <table mat-table  id="tbl-tail-flights" [dataSource]="dataSource"  matSort  matSortActive="flightNumber" matSortDirection="asc" class="col-12">
      <!-- Checkbox Column -->
      <!-- <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [disableRipple]="true" (click)="$event.stopPropagation()" (change)="selectedRow(selection.selected);$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container> -->

      <!-- flightNumber Column -->
      <ng-container matColumnDef="flightNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FLIGHT# </th>
        <td mat-cell *matCellDef="let element"> 
          <a routerLink="/airline/{{routeParams?.airlineIcao}}/tails/{{routeParams.tailNumber}}/flights/{{element?.id}}/connectivity" class="cursor-pointer">{{element.flightNumber}}</a>
        </td>
      </ng-container>

       <!-- departureAirport Column -->
       <ng-container matColumnDef="departureAirport">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >ORIGIN </th>
          <td mat-cell *matCellDef="let element"> {{element?.departureAirport}} </td>
        </ng-container>
        
       <!-- arrivalAirport Column -->
       <ng-container matColumnDef="arrivalAirport">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >DESTINATION </th>
          <td mat-cell *matCellDef="let element"> {{element?.arrivalAirport}} </td>
        </ng-container>
        <!-- startTime Column -->
      <ng-container matColumnDef="startTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >FLIGHT LEG START TIME (UTC) </th>
          <td mat-cell *matCellDef="let element"> {{element?.startTime}} </td>
        </ng-container>
    
      <!-- endTime Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >FLIGHT LEG END TIME (UTC) </th>
        <td mat-cell *matCellDef="let element"> {{element?.endTime}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row);selectedRow(selection.selected);">
      </tr>
    </table>

    <mat-card [hidden]="!isLoading" class="text-center">
      Loading..
    </mat-card>

    <mat-card *ngIf="!isLoading && dataSource && !dataSource.filteredData.length" class="text-center">
      No Records Found..
    </mat-card>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>


</div>

<art-action-toolbar [config]="actionToolBarConfig" (actionToolBarEvent)="getEvent($event);" (getSearchText)="flightsFilter($event)" [getSelectedRow]="selection.selected" ></art-action-toolbar>
