<div class="object-header">
  <div class="row p-4 text-center">
    <div class="col-12">
      <h6 style="display: inline; font-weight: 700">
        <img class="mr-3" src="./assets/objects/airline-modal.png" width="32px" height="32px" style="vertical-align: sub; margin-right: 5px">
        TV Performance
      </h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <div class="btn-group" role="group" aria-label="Basic example">
        <!--<button type="button" class="btn btn-tab btn-sm btn-tab-m-w" [routerLink]="['/airline', currentAirlineId, 'overview']" [class.active]="isActive(['airline', currentAirlineId, 'overview'])">Antenna</button>-->
        <!--<button type="button" class="btn btn-tab btn-sm btn-tab-m-w" [routerLink]="['/airline', currentAirlineId, 'tails']" [class.active]="isActive(['airline', currentAirlineId, 'tails'])">Tuner</button>-->
        <button type="button" class="btn btn-tab btn-sm btn-tab-m-w" [routerLink]="['/airline', airlineIcao, 'tv-performance', flightId, 'antenna']"
          [class.active]="isActive(['/airline', airlineIcao, 'tv-performance', flightId, 'antenna'])" id="btn-antenna">
          Antenna
        </button>
        <button type="button" class="btn btn-tab btn-sm btn-tab-m-w" [routerLink]="['/airline', airlineIcao, 'tv-performance', flightId, 'tuner']"
          [class.active]="isActive(['/airline', airlineIcao, 'tv-performance', flightId, 'tuner'])" id="btn-tuner">
          Tuner
        </button>
        <button type="button" class="btn btn-tab btn-sm btn-tab-m-w" 
          [routerLink]="['/airline', airlineIcao, 'tv-performance', flightId, 'map']"
          [class.active]="isActive(['/airline', airlineIcao, 'tv-performance', flightId, 'map'])" id="btn-map">
          Map
        </button>
        <button type="button" class="btn btn-tab btn-sm btn-tab-m-w" 
          [routerLink]="['/airline', airlineIcao, 'tv-performance', flightId, 'periodic-tuner-status']"
          [class.active]="isActive(['/airline', airlineIcao, 'tv-performance', flightId, 'periodic-tuner-status'])" id="btn-periodic-tuner-status">
          Periodic Tuner Status
        </button>
      </div>
    </div>
  </div>
</div>
<div class="content-area">
  <router-outlet></router-outlet>
</div>
