/* Section-Title */
.app-title-section {
    margin-bottom: 24px !important;
  
    .section-title {
      font-size: 13px;
      font-weight: 700;
      color: $dark;
      margin-bottom: 12px !important;
    }
  
    hr {
      margin: 0 !important;
    }
  }