// Colors
$dark-blue: #242a75;
$blue-grey: #69a3b9;
$light-blue: #5dbfd4;
$pale-grey: #dde4ec;
$light-blue-light: #edf7f9;

$green: #abe05f;
$orange: #ffcc77;
$red: #ff5b6f;

$dark: #253746;
$carbon-02: #394a57;
$carbon-03: #465562;
$dark-grey: #5b606e;
$medium-grey: #c2c6c9;
$light-grey-01: #e8e8e8;
$light-grey-02: #f0f0f0;
$light-grey-03: #f6f6f6;
$light-grey-04: #fefefe;
$white: #ffffff;
$thistle: #D8BFD8;

$yellow: #fcff39;
$dark-green: #448c02;
$dark-red: #dc0014;
