<div class="content-area">

  <div class="container">
    <div class="row">


      <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
        <a id="lnk-overview-tails" [routerLink]="['/airline', currentAirlineId, 'tails']">

          <span class="fa-stack fa-4x home-icon" id="spn-overview-tails">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
          </span>
          <div class="container">
              <label id="lbl-overview-tails">TAILS</label>
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
        <a id="lnk-overview-flights" [routerLink]="['/airline', currentAirlineId, 'flights']">

          <span class="fa-stack fa-4x home-icon" id="spn-overview-flights">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
          </span>
          <div class="container">
              <label id="lbl-overview-flights"> FLIGHTS</label>
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
        <a id="lnk-overview-offloads" [routerLink]="['/airline', currentAirlineId, 'offloads']">

          <span class="fa-stack fa-4x home-icon" id="spn-overview-offloads">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-file-archive-o fa-stack-1x fa-inverse"></i>
          </span>
          <div class="container">
              <label id="lbl-overview-offloads">  OFFLOADS</label>
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
        <a id="lnk-overview-coverage" [routerLink]="['/airline', currentAirlineId, 'coverage']">

          <span class="fa-stack fa-4x home-icon" id="spn-overview-coverage">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
          </span>
          <div class="container">
              <label id="lbl-overview-coverage">  COVERAGES</label>
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-4 col-md-3 col-xl-2 text-center">
        <a id="lnk-overview-tv" [routerLink]="['/airline', currentAirlineId, 'tv-performance']">

          <span class="fa-stack fa-4x home-icon" id="spn-overview-tv">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tv fa-stack-1x fa-inverse"></i>
          </span>
          <div class="container">
              <label id="lbl-overview-tv">TV PERFORMANCE</label>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>