.tv-sticky-table {
  width: 100%;
  height: 480px !important;
  overflow-y: auto;
}

table thead {
  color: #253746;
  border-bottom: 1px solid #e6e6e6;
}

table thead tr {
  line-height: 2;
}

table thead tr.tuner-header {
  line-height: 4;
}

table thead tr th {
  margin: 0 !important;
  padding: 0 !important;
  padding: 0.5em 1em;
}

table thead th {
  font-size: 10px !important;
  font-weight: 500;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #fff;
}

table thead th.timeStampHeader {
  width: 135px;
}

table thead th.board-col {
  width: 15px;
}

table thead th div.tuner-8 {
  margin-right: 10px !important;
}

table tbody {
  font-size: 13px !important;
  font-weight: 400;
}

table tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}

table tbody td div.tuner-8 {
  margin-right: 10px !important;
}

table tbody td div {
  width: 14px;
  height: 14px;
}

table tbody td div.timeStampData {
  width: 135px;
}

table tbody td div.notUsed {
  background-color: #c2c6c9;
}

table tbody td div.good {
  background-color: #abe05f;
}

table tbody td div.failure {
  background-color: #ff5b6f;
}

table tbody td div.warning {
  background-color: #ffcc77;
}